body{
    background-color:gray;
    margin-left: 10%;
    margin-right: 10%;
    text-emphasis-color: rgb(255, 255, 255);


}

.photo{
    display: block;
    width: 170px;
    height: 210px;
    align-content: right;
    border-radius: 60%;
}

.head{
    padding-left: 20%;
    padding-bottom: -200px;
}

button{
    background-color: aquamarine;
    border-radius: 20px;
    width: 20%;
    height: 40px;
    align-self: center;
}